@media screen {
        .clients {
            padding-top: 60px;
        }

        .clients__title {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.179;
        text-align: center;
        letter-spacing: 0.03em;

        color: #212121;
    }

    .clients__icons {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .clients__icon-list {
        width: calc((100% - 30px)/2);
        height: 92px;
    }

    .clients__link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-color-dark-theme);
        border: 1px solid var(--clients-card-main-color);
        border-radius: 4px;
        fill: var(--clients-card-main-color);
        transition-property: fill;
        transition: fill var(--transition-dur-fun),
            border var(--transition-dur-fun);

        &:focus,
        &:hover {
            outline: none;
            border: 1px solid var(--accent-color);
            fill: var(--accent-color);
        }
    }

    .clients__list {
        width: 106px;
        height: 60px;
        border: none;
    }
}

@media (min-width:768px) {
    .clients {
        padding-top: 60px;
    }

    .clients__icon-list {
        width: calc((100% - 2*30px)/3);
    }
}

@media (min-width: 1200px) {
    .clients {
        padding-top: 94px;
    }

    .clients__title {
        font-size: 36px;
        line-height: calc(42/36);
        margin-bottom: 50px;
    }
    
    .clients__icon-list {
        width: calc((100% - 5*30px)/6);
    }
}