@media screen {
    .with-img {
        // display: block;
        // width: 100%;
        // height: 100%;
        content: "";
        background-image:
            linear-gradient(to top,
                var(--linear-gradient-color-from),
                var(--linear-gradient-color-to)),
            url("../../images/main/Hero-img-480х400.jpg"),
            linear-gradient(to top,
                var(--linear-gradient-color-from),
                var(--linear-gradient-color-to));
        
        background-repeat: no-repeat;
        background-size:cover;
        // background-size: contain;
        // object-fit: cover;
        // object-fit: fill;        
    }

    .hero {
        padding-top: 118px;
        padding-bottom: 118px;
        align-items: center;
    }

    .hero__title {
        padding-bottom: 30px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.615;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }
}

@media screen and(min-width: 768px) {
    .with-img {
        background-image:
            linear-gradient(to top,
                var(--linear-gradient-color-from),
                var(--linear-gradient-color-to)),
            url("../../images/main/Hero-img-768х400.jpg"),
            linear-gradient(to top,
                var(--linear-gradient-color-from),
                var(--linear-gradient-color-to));
    }
}

@media screen and (min-width: 1200px) {
    // .container {
    //     
    // }

    .with-img {
        width: 100%;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        background-image:
            linear-gradient(to top,
                var(--linear-gradient-color-from),
                var(--linear-gradient-color-to)),
            url("../../images/main/Hero-img-1600х600.jpg"),
            linear-gradient(to top,
                var(--linear-gradient-color-from),
                var(--linear-gradient-color-to));
                background-size: cover;
    }

    .hero {
        padding-top: 200px;
        padding-bottom: 200px;
        align-items: center;
    }

    .hero__title {
        font-size: 44px;
        line-height: 1.364;
    }
}

// .with-img {
//     background-image:
//         linear-gradient(to top,
//             var(--linear-gradient-color-from),
//             var(--linear-gradient-color-to)),
//         url("../images/main/bckgrnd-img.jpg"),
//         linear-gradient(to top,
//             var(--linear-gradient-color-from),
//             var(--linear-gradient-color-to));
//     content: "";
//     background-repeat: no-repeat;
// }

// .hero-title {
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
//     text-align: center;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     color: var(--main-color-dark-theme);
//     margin-bottom: 30px;
// }