@media screen {
    .hero {
        margin: 0 auto;
        padding-top: 118px;
        padding-bottom: 118px;
        align-items: center;
        max-width: 480px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        background-image: 
        linear-gradient(to top,
                var(--linear-gradient-color-from),
                var(--linear-gradient-color-to)),
                url(../images/mobile/hero-480/hero-480.jpg ),
        linear-gradient(to top,
            var(--linear-gradient-color-from),
            var(--linear-gradient-color-to));
    }
// url("../images/main/bckgrnd-img.jpg"),

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
            background-image: 
            linear-gradient(to top,
                    var(--linear-gradient-color-from),
                    var(--linear-gradient-color-to)),
                    url(../images/mobile/hero-480/hero-480@2x.jpg),
            linear-gradient(to top,
                    var(--linear-gradient-color-from),
                    var(--linear-gradient-color-to));
        }
    }

    .hero__title {
        padding-bottom: 30px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.615;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        background-image:
                linear-gradient(to top,
                    var(--linear-gradient-color-from),
                    var(--linear-gradient-color-to)),
                url(../images/tablet/hero-768/hero-768.jpg ),
                linear-gradient(to top,
                    var(--linear-gradient-color-from),
                    var(--linear-gradient-color-to));
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
            background-image:
            linear-gradient(to top,
                var(--linear-gradient-color-from),
                var(--linear-gradient-color-to)),
            url(../images/tablet/hero-768/hero-768@2x.jpg ),
            linear-gradient(to top,
                var(--linear-gradient-color-from),
                var(--linear-gradient-color-to));
        }
    }
}

@media screen and (min-width: 1200px) {
    .with-img {
        padding: 0;
    }

    .hero {
        // margin: 0;
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        background-image:
            linear-gradient(to top,
                var(--linear-gradient-color-from),
                var(--linear-gradient-color-to)),
            url(../images/desktop/hero/hero-1600.jpg ),
            linear-gradient(to top,
                var(--linear-gradient-color-from),
                var(--linear-gradient-color-to));
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
            background-image:
                linear-gradient(to top,
                    var(--linear-gradient-color-from),
                    var(--linear-gradient-color-to)),
                url(../images/desktop/hero/hero-1600@2x.jpg),
                linear-gradient(to top,
                    var(--linear-gradient-color-from),
                    var(--linear-gradient-color-to));
        }
    }

    .hero__title {
        font-size: 44px;
        line-height: 1.364;
    }
}

// .with-img {
//     background-image:
//         linear-gradient(to top,
//             var(--linear-gradient-color-from),
//             var(--linear-gradient-color-to)),
//         url("../images/main/bckgrnd-img.jpg"),
//         linear-gradient(to top,
//             var(--linear-gradient-color-from),
//             var(--linear-gradient-color-to));
//     content: "";
//     background-repeat: no-repeat;
// }

// .hero-title {
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
//     text-align: center;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     color: var(--main-color-dark-theme);
//     margin-bottom: 30px;
// }
