.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    cursor: pointer;
}

.mobile-menu__container {
    height: 100%;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding-left: 40px;
}

.mobile-menu__close-btn {

    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;

    &:focus {
        fill: var(--accent-color);
    }
}

.mobile-menu__btn-nav,
.mobile-menu__cont-nets {
    display: block;
}

.mobile-menu__nav-main {
    margin-top: 6vmax;
}

.mobile-menu__nav-title:not(:last-child) {
    margin-bottom: 4vmax;
}

.mobile-menu__nav-list {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--main-color-light-theme);
}

.mobile-menu__nav-list-current {
    color: var(--accent-color);
    text-decoration: none;
}

.mobile-menu__phone-mail {
    display: flex;
    flex-direction: column;

}

.mobile-menu__phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    margin-bottom: 4vmax;

    color: var(--accent-color);
}

.mobile-menu__email {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    margin-bottom: 8vmax;

    color: #757575;
}

.mobile-menu__social-networks {
    display: flex;
    margin-bottom: 2.5vmax;
}

.mobile-menu__social-network{
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 0.02em;
    color: var(--accent-color);

    &:not(:last-child) {
        margin-right: 20px;
    }

    &:not(:last-child)::after {
        position: absolute;
        content: "";
        top: 0;
        right: -0px;
        width: 1px;
        height: 22px;
        background-color: #212121;
    }

    .mobile-menu__network {
        color: var(--accent-color);
        margin-right: 2.5vmax;
    }
}
